

.topMenu {
    justify-content: flex-end;
    align-items: center;
}
.topMenu > * {
    margin: 0;
}

@media screen and (max-width: 550px) {
    .topMenu {
        flex-direction: column !important;
    }
}